.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: fixed;
  -webkit-animation: roll 4.5s infinite;
  -moz-animation: roll 4.5s infinite;
  animation: roll 4.5s infinite;
}

@-moz-keyframes roll {
  0% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
  50% {
    left: 1000px;
    -webkit-transform: rotate(360deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes roll {
  0% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
  50% {
    left: 1000px;
    -webkit-transform: rotate(360deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes roll {
  0% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
  50% {
    left: 1000px;
    -webkit-transform: rotate(360deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
